# Copia este archivo como .env y complétalo. El .env NO se sube al repositorio.
AWS_REGION=us-east-1
SECRET_NAME=nombre-del-secreto-rds
S3_BUCKET=nombre-del-bucket
S3_PREFIX=Reports_CYR
ORACLE_THICK_MODE=true
ORACLE_CLIENT_PATH=C:\Program Files\Oracle Client for Microsoft Tools
ORACLE_CONNECT_MODE=SID
